# URL Supabase Project (CreativOffice)
VITE_SUPABASE_URL=https://ysqqbygshqyhfhwdcswd.supabase.co

# Supabase Anon Public Key (Salin dari Project Settings > API > Project API keys > anon public)
VITE_SUPABASE_ANON_KEY=
